{% extends 'base.html' %}

{% block title %} Deletar cadastrar {% endblock %}

{% block main %}

    <h2>Tem certeza que deseja apagar o registro da pessoa {{person.first_name}}?</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Apagar</button>
    </form>

{% endblock %}

{% block footer %}

    <footer class="footer">
        <div class="container">
        <span class="text-muted">Desenvolvimento web com Django 3.x</span>
        </div>
    </footer>

{% endblock %}